.diacart-btn {
  @extend %border-box-children;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: $diacart-buttons-font;
  font-size: $diacart-buttons-font-size;
  overflow: hidden;
  appearance: none;
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 3px;
  transition: all .24s ease;

  * {
    user-select: none;
    pointer-events: none;
  }

  &--medium {
    padding: 10px 16px;
  }

  &--primary {
    color: #fff;
    background-color: $diacart-color-primary;
    &:hover {
      background-color: $diacart-color-primary--dark;
    }
  }

  &--default {
    color: $diacart-color-dark;
    border: 1px solid rgba($diacart-color-dark, .5);
    background-color: transparent;
    &:hover {
      border-color: $diacart-color-dark;
    }
  }

  &--error {
    color: #fff;
    background-color: $diacart-color-error;
    &:hover {
      background-color: $diacart-color-error--dark;
    }
  }
}