.diacart {
  @extend %font-size-4;
  @extend %border-box-children;
  padding: 30px 0;
  font-family: $diacart-base-font;
  color: $diacart-color-dark;
  min-width: 250px;

  &__header {
    // padding: 0 0 $diacart-base-offset 0;
    border-bottom: 1px solid $diacart-color-gray--light;

    &-col {
      margin-bottom: $diacart-base-offset;
    }
  }

    &__title {
      @extend %font-size-1;
      font-weight: bold;
    }


  // &__items {
  //   margin: 0 -$diacart-base-offset;
  // }

  &__footer {
    text-align: right;
    border-top: 1px solid $diacart-color-gray--light;
    padding: #{$diacart-base-offset -12px} 0 0 0;
    animation: diacart-appearance .24s ease;

    &-container {
      margin: 0 -12px;
    }
  }

  &__total-price,
  &__order-btn {
    @extend %inline-block-middle;
    margin: 12px 12px 0;
  }

  &__total-price {
    &-accent {
      @extend %font-size-2;
      font-family: $diacart-numbers-font;
      font-weight: bold;
    }
  }

}